/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

:root {
	/* font weight */
	--fw-300: 300;
	--fw-600: 600;
	--fw-800: 800;

	/* font size */
	--fs-homepage-normal: 14px;
	--fs-details-normal: 16px;

	/* light mode */
	--clr-white: hsl(0, 0%, 100%);
	--clr-dark-gray: hsl(0, 0%, 52%);
	--clr-very-light-gray: hsl(0, 0%, 98%);
	--clr-very-dark-blue-lm: hsl(200, 15%, 8%);

	/* dark mode */
	--clr-dark-blue: hsl(209, 23%, 22%);
	--clr-very-dark-blue: hsl(207, 26%, 17%);

	/* colors distribution */
	--clr-input: var(--clr-dark-gray);
	--clr-text: var(--clr-very-dark-blue-lm);
	--clr-elements: var(--clr-white);
	--clr-background: var(--clr-very-light-gray);

	/* fonts  */
	--bodyFont: 'Nunito Sans', sans-serif;

	/* rest of the vars */
	--borderRadius: 0.35rem;
	--letterSpacing: 1px;
	--transition: 0.3s ease-in-out all;
	--max-width: 1120px;
	--fixed-width: 500px;
	--fluid-width: 90vw;
	--breakpoint-lg: 992px;

	/* box shadow*/
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.dark-mode {
	--clr-input: var(--clr-dark-blue);
	--clr-text: var(--clr-white);
	--clr-elements: var(--clr-dark-blue);
	--clr-background: var(--clr-very-dark-blue);
}

body {
	background: var(--clr-background);
	font-family: var(--bodyFont);
	font-weight: var(--fw-300);
	line-height: 1.75;
	color: var(--clr-text);
}

p {
	max-width: 40em;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;

	font-family: var(--bodyFont);
	font-weight: var(--fw-600);
	line-height: 1.3;
	text-transform: capitalize;
	letter-spacing: var(--letterSpacing);
}

h1 {
	margin-top: 0;
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}
span {
	color: var(--clr-text);
}
a {
	text-decoration: none;
	letter-spacing: var(--letterSpacing);
}
a,
button {
	line-height: 1.15;
	background: transparent;
	border: none;
	cursor: pointer;
	color: var(--clr-text);
}
button:disabled {
	cursor: not-allowed;
}
ul {
	list-style-type: none;
	padding: 0;
}

.img {
	/* width: 100%; */
	display: block;
	object-fit: cover;
}
.container {
	width: 90vw;
	margin-inline: auto;
	padding: 1.5rem 0;
	max-width: 1350px;
}
